body {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    text-align: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
  
  p {
    color: #8f8f8f;
  }

/* Headings */

.bg-heading {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Containers */

.container.fluid {
    padding: 7% 15%;
}

/* Sections */

.blue-sect {
    background-color:#87CEFA;
    color: #fff;
}

.white-sect {
    background-color: #fff;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: 700;
}
.nav-item {
    padding: 0 18px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1.6px;
    
}
.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
}

.nav-link:hover {
    color: #4169E1;
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
    background-color:#87CEFA;
    color: #fff;
    text-align: left;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}

/* Title-Image */

.title-image {
    /* width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
    margin-top: 130px; */
    width: 330px;
	transform: rotate(15deg);
    margin-left: 40px;
    position: absolute;
}

/* Features Section */

#features {
    
    position: relative;

}

.feature-title {
    font-size: 1.5rem;
}

.feature-logo {
    padding: 5%;
}

.icon {
    color: #7093DB;
    margin-bottom: 5%;
}

.icon:hover {
    color: #5F9EA0;
}

/* Testimonials */

#testimonials {
    background-color:#4169E1;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
  width: 12%;
  border-radius: 100%;
  margin: 20px;
}


/* .carousel-item {
  padding: 7% 15%;
  
} */

#press {
    background-color:#4169E1;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 90px;
   
}

.pricing-col {
    padding: 3% 2%;
    
}

.price-text {
    font-size: 1.5rem;
    line-height: 1.5;
}

/* CTA Section */


/* Footer Section */

#footer {
    
    text-align: center;
}

/* Social Media Section */

.sm-button {
    margin: 5% 3% 5% 0;
}

.sm-button:hover {
    color: #7093DB;
}

.twit {
    color: #1da1f2;
}

.insta {
    color: #c32aa3;
}

/* .twit:hover, .insta:hover, .env:hover {
    background-color: yellow;
  } */

@media (max-width: 1028px) {
    
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}